typescript_2/node_modules/*
typescript_2/dist/*
ticket booking/backend/node_modules/*
post with jest/node_modules/*
authentication_ts/backend/node_modules/*
authentication_ts/frontend/node_modules/*
cart/backend/node_modules/*
authentication_emp_ts/backend/node_modules/*
authentication_emp_ts/backend/public/uploads/*
authentication_emp_ts/backend/src/uploads/*
